@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-charcoal-blue: #2f4858;
  --color-baltic-blue: #33658a;
  --color-sky-reflection: #86bbd8;
  --color-honey-bronze: #f6ae2d;
  --color-blaze-orange: #f26419;
}

@theme inline {
  --color-charcoal-blue: #2f4858;
  --color-baltic-blue: #33658a;
  --color-sky-reflection: #86bbd8;
  --color-honey-bronze: #f6ae2d;
  --color-blaze-orange: #f26419;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
  --font-serif: var(--font-playfair-display);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}
